@use "./mixin" as mix;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  min-width: 33.7rem;
  padding: 0.5rem;
  margin-top: 1rem;

  @include mix.responsive(mobile) {
    min-width: 22.7rem;
  }

  .feat-back {
    text-align: end;

    .btn-back {
      padding: 0.6rem;
      border-radius: 0.5rem;

      font-size: 1.12rem;
      background-color: var(--bright-blue);
      color: var(--white);
    }
  }

  .detail {
    background-color: var(--light-gray);

    & .item__img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & > .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      padding: 1.6rem;
      border-bottom: 1px solid var(--bright-blue);
      margin-bottom: 1rem;
      border-radius: 0.32rem;

      background-color: var(--white);

      color: var(--belize-hole);
      text-align: center;
      font-size: 2rem;
      font-weight: bold;

      .feat-list {
        display: flex;
        justify-content: center;
        gap: 1rem;

        font-size: 1rem;

        .feat-item {
          display: grid;
          place-items: center;

          width: 6rem;
          border-radius: 0.5rem;
          padding: 0.36rem 0;

          color: var(--white);
        }

        .btn-update {
          background-color: var(--primary);
        }

        .btn-delete {
          background-color: var(--danger);
        }
      }
    }

    .detail {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      padding: 1rem 1.2rem;
      border-radius: 0.32rem;

      background-color: var(--white);

      .group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .title {
          text-transform: capitalize;
          font-size: 1.15rem;
          font-weight: 500;
        }

        .data {
          width: calc((100% - 1rem));
          padding: 0.2rem 0.4rem;
          border: 1px solid var(--bright-blue);
          border-radius: 0.25rem;

          font-size: 1.1rem;
          text-transform: none;
          outline: none;
        }
      }
    }
  }
}
