@use "./mixin" as mix;

.detail-car {
  // padding: 1.6rem;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  background-color: #c3c3c3;

  & > .title {
    padding: 1.6rem;
    margin-bottom: 1rem;

    background-color: #2eb4fc;

    text-align: center;
    font-size: 2rem;

    .content-title {
    }
  }

  .detail {
    padding: 1.6rem;
    .group {
      .title {
      }

      .content {
      }

      & .img-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;

        .img-item {
          border: 1px solid #c3c3c3;

          .img {
            width: 6rem;
            height: 5rem;
            object-fit: cover;
            aspect-ratio: 16/9;

            @include mix.responsive(mobile) {
              width: 3.8rem;
              height: 3.4rem;
            }
          }
        }
      }
    }
  }
}
