.select-list-content {
  .select-list {
    min-height: 2rem;
    max-height: 12.25rem;
    padding: 0.6rem;
    border: 1px solid var(--gray);
    border-top: none;

    overflow-y: auto;
    overflow-x: hidden;

    background-color: var(--white);

    font-size: 0.925rem;

    .select-list-item {
      display: flex;
      gap: 0.5rem;

      width: calc((100% - 0.8rem));
      padding: 0.4rem;
      border-radius: 0.2rem;

      color: #000;
      text-transform: capitalize;

      cursor: pointer;

      &:hover {
        background-color: #cde2f8;
      }

      .select-list-item-text {
        flex: 1;
      }

      .select-list-item-delete {
        background-color: var(--white);
      }
    }
    // &:hover :not(.drop-item:hover) {
    //   opacity: 0.6;
    // }
    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
      background: #7295e2;
    }
  }

  .container-input {
    .control {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid var(--gray);
      border-radius: 0.25rem;

      outline: none;

      &:focus {
        border-color: var(--primary);
      }
    }
  }
}
