@use "./mixin" as mix;

.container-header {
  display: flex;
  justify-content: space-between;

  .actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .action__show-side-bar {
    @include mix.responsive(desktop) {
      display: none;
    }

    @include mix.responsive(tablet) {
      display: none;
    }

    @include mix.responsive(mobile) {
      display: block;
    }
  }

  .overlay {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .collapsed {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 24rem;
    min-height: 100vh;
    padding: 1rem;
    background-color: var(--white);

    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 0.3s ease-in-out, visibility 0.3s;
  }

  .side-bar-mobile {
    transform: translateX(1);
    visibility: visible;
    transition: transform 0.3s ease-in-out, visibility 0.3s;

    // giữ lại những thuộc tính có sẵn
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 24rem;
    min-height: 100vh;
    padding: 1rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;

    &.dark {
      background-color: #181818;
      color: white;
      border-right: 1px solid #333;
    }

    &__top-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      margin-bottom: 2rem;

      .side-bar__closed-btn {
      }
    }

    &__toggle-btn {
      background: none;
      border: none;
      font-size: 1.5rem;
      margin-right: 1rem;
      color: inherit;
    }

    &__logo {
      font-weight: bold;
      font-size: 1.2rem;
    }

    &__menu {
      flex: 1;

      .list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .side-bar-mobile__menu-item {
          overflow-x: hidden;

          display: flex;

          padding: 0.5rem;

          .side-bar-mobile__menu-link {
            display: flex;
            align-items: center;
            gap: 1rem;

            color: inherit;
            text-decoration: none;
            font-size: 1rem;
            line-height: 1.2rem;

            white-space: nowrap;
            text-overflow: ellipsis;

            .icon {
              font-size: 1rem;
            }

            // Ẩn chữ khi collapsed
            .side-bar-mobile__section-title {
              display: block;
            }
          }
        }
      }
    }

    &__section-title {
      font-size: 0.9rem;
      font-weight: bold;
      margin: 1rem 0 0.5rem 0;
    }

    &__bottom-section {
      margin-top: auto;
    }
    .action-logout {
      display: flex;
      justify-content: center;
    }
  }
}
