@use "./mixin" as mix;
.wrapper-layout {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  background-color: #f0f0f0;
}

.header {
  background-color: rgb(46, 180, 252);
  color: #000;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer {
  margin-top: 2rem;

  background-color: var(--light);
}
