.wrapper-layout {
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.center {
  display: flex;
  justify-content: center;
}

.header {
  background-color: rgb(46, 180, 252);
  color: #000;
  padding: 1.2rem;
}

.main {
  // overflow-x: hidden;
  z-index: 100 !important ;
  display: flex;
  justify-content: space-between;

  flex: 1;

  background-color: #f0f0f0;

  .wrapper-header-main {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    width: 100%;
  }
}

.footer {
  background-color: rgb(46, 180, 252);
  color: #000;
  padding: 1rem;
}
