@use "./mixin" as mix;

.sleeper-bus {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 1.75rem;

  @include mix.responsive(mobile) {
    flex-direction: column;
  }
}

.floor {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 1.15rem;
    margin-bottom: 0.725rem;
    color: #333;
  }
}

.floor-rows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.seat-row {
  display: flex;
  justify-content: center;
  gap: 1rem;

  &:first-child {
    justify-content: space-between;
  }
}
